In [ ]:
# -*- coding: utf-8 -*-
import pandas as pd

Create addToList function, create lists of Pokedex numbers of starters,
pseudo-legendaries, legendaries, mythical, fossils, and ultra beasts:

In [ ]:
def addToList(start, end, List):
    """
    Adds numbers to the given List from the start value to the end
    value inclusive.
    
    start: int, beginning of range
    end: int, end of range
    List: list, the list to append the values to.
    """
    for i in range(start, end + 1):
        List.append(i)

starters = []
addToList(1, 9, starters)
addToList(152, 160, starters)
addToList(252, 260, starters)
addToList(387, 395, starters)
addToList(495, 503, starters)
addToList(650, 658, starters)
addToList(722, 730, starters)
addToList(810, 818, starters)

In [ ]:
pseudolegendaries = [
    149,       # Dragonite
    248,       # Tyranitar
    373, 376,  # Salamence, Metagross
    445,       # Garchomp
    635,       # Hydreigon
    706,       # Goodra
    784,       # Kommo-o
    887,       # Dragapult
]

In [ ]:
legendaries = [
    144, 145, 146, 150,                                     # Kanto
    243, 244, 245, 249, 250,                                # Johto
    377, 378, 379, 380, 381, 382, 383, 384,                 # Hoenn
    481, 482, 483, 484, 485, 486, 487, 488,                 # Sinnoh
    638, 639, 640, 641, 642, 643, 644, 645, 646,            # Unova
    716, 717, 718,                                          # Kalos
    772, 773, 785, 786, 787, 788, 789, 790, 791, 792, 800,  # Alola
    888, 889, 890, 891, 892, 894, 895, 896, 897, 898,       # Galar
]

In [ ]:
mythical = [
    151,                 # Mew
    251,                 # Celebi
    385, 386,            # Jirachi, Deoxys
    490, 491, 492, 493,  # Manaphy, Darkrai, Shaymin, Arceus
    494, 647, 648, 649,  # Victini, Keldeo, Meloetta, Genesect
    719, 720, 721,       # Diancie, Hoopa, Volcanion
    801, 802, 807,       # Magearna, Marshadow, Zeraora
    808, 809,            # Meltan, Melmetal
    893,                 # Zarude
]

In [ ]:
fossils = []
addToList(138, 142, fossils)
addToList(345, 348, fossils)
addToList(408, 411, fossils)
addToList(564, 567, fossils)
addToList(696, 699, fossils)
addToList(880, 883, fossils)

In [ ]:
ultrabeasts = []
addToList(793, 799, ultrabeasts)
addToList(803, 806, ultrabeasts)

In [ ]:
def generation(x):
    endNumbers = (151, 251, 386, 493, 649, 721, 809, 898)
    for i, number in enumerate(endNumbers):
        if x <= number:
            return i + 1

In [ ]:
gender_ratio = {
    100: (32, 33, 34, 106, 107, 128, 236, 237, 313, 381, 414, 475, 538, 539,
          627, 628, 641, 642, 645, 859, 860, 861),
    (7/8*100): (1, 2, 3, 4, 5, 6, 7, 8, 9, 133, 134, 135, 136, 138, 139, 140,
                141, 142, 143, 152, 153, 154, 155, 156, 157, 158, 159, 160,
                175, 176, 196, 197, 252, 253, 254, 255, 256, 257, 258, 259,
                260, 345, 346, 347, 348, 369, 387, 388, 389, 390, 391, 392,
                393, 394, 395, 408, 409, 410, 411, 415, 446, 447, 448, 468,
                470, 471, 495, 496, 497, 498, 499, 500, 501, 502, 503, 511,
                512, 513, 514, 515, 516, 564, 565, 566, 567, 570, 571, 650,
                651, 652, 653, 654, 655, 656, 657, 658, 696, 697, 698, 699,
                700, 722, 723, 724, 725, 726, 727, 728, 729, 730, 757, 810,
                811, 812, 813, 814, 815, 816, 817, 818, 891, 892),
    (3/4*100): (58, 59, 63, 64, 65, 66, 67, 68, 125, 126, 239, 240, 296, 297,
                466, 467, 532, 533, 534), 
    (1/4*100): (35, 36, 37, 38, 39, 40, 173, 174, 209, 210, 222, 298, 300,
                301, 370, 431, 432, 572, 573, 574, 575, 576, 741, 764, 864),
    (1/8*100): (667, 668),
    0: (29, 30, 31, 113, 115, 124, 238, 241, 242, 314, 380, 413, 416, 440,
        478, 488, 548, 549, 629, 630, 669, 670, 671, 758, 761, 762, 763, 856,
        857, 858, 868, 868, 869),
    
    # Genderless
    "": (81, 82, 100, 101, 120, 121, 132, 137, 144, 145, 146, 150, 151, 201,
         233, 243, 244, 245, 249, 250, 251, 292, 337, 338, 343, 344, 374, 375,
         376, 377, 378, 379, 382, 383, 384, 385, 386, 436, 437, 462, 474, 479,
         480, 481, 482, 483, 484, 486, 487, 489, 490, 491, 492, 493, 494, 599,
         600, 601, 615, 622, 623, 638, 639, 640, 643, 644, 646, 647, 648, 649,
         703, 716, 717, 718, 719, 720, 721, 772, 773, 774, 781, 785, 786, 787,
         788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801,
         802, 803, 804, 805, 806, 807, 808, 809, 854, 855, 870, 880, 881, 882,
         883, 888, 889, 890, 893, 894, 895, 896, 897, 898),
}

def getGenderRatio(x):
    for ratio, pokemon in gender_ratio.items():
        if x in gender_ratio[ratio]:
            return ratio
    return 50

Create pandas DataFrame from the csv file, add columns for the category flags.

In [ ]:
df = pd.read_csv("pokemon-new.csv", "|")
df.ability_2.fillna(df.ability_1)
df.hidden_ability.fillna(df.ability_1)

df["percentage_male"] = df["pokedex_number"].apply(lambda x: getGenderRatio(x))
df["gen"] = df["pokedex_number"].apply(lambda x: generation(x))

df["starter"] = df["pokedex_number"].isin(starters)
df["legendary"] = df["pokedex_number"].isin(legendaries)
df["mythical"] = df["pokedex_number"].isin(mythical)
df["pseudo-legendary"] = df["pokedex_number"].isin(pseudolegendaries)
df["ultra_beast"] = df["pokedex_number"].isin(ultrabeasts)
df["mega_evolution"] = df["name"].str.contains("Mega ")
df["fossil"] = df["pokedex_number"].isin(fossils)

In [ ]:
df[df.mythical == False].head(50)

In [ ]:
df.columns

The code below filters rows that have a Pokemon whose name starts with the
letter "A" and removes rows with the Mega Evolution flag. The code also only 
shows the given columns using the `.loc` method.

In [ ]:
df[
    df["name"].str.startswith("Z")
    & df["mega_evolution"].eq(False)
    # & not df["Pokemon"].contains("Alolan")
    # & not df["Pokemon"].contains("Galarian")
].loc[
    :, ["pokedex_number", "name", "japanese_name", "category", "gen", "type_1", "type_2", "starter",
        "legendary", "mythical", "pseudo-legendary"]
]

In [ ]:
# df.to_csv("pokemon_db.csv", sep="|", index=False)